$color1: rgb(0, 0, 0);
$color2: rgb(255, 247, 0);
$color3: rgb(255, 255, 255);
$color4: #016bff;
$color5: #01aaff;

$font1: 1em;
$font2: 1.2em;
$font3: 1.4em;
$font4: 1.6em;
$font5: 1.8em;
$font6: 2em;
$font7: 2.2em;
$font9: 25px;

$primary-color: #333;
$secondary-color: #555;
$button-color: #007bff;
$button-hover-color: #0056b3;

$shadow-color: rgba(0, 0, 0, 0.1);
$border-radius: 8px;
